* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ***************** */
/* ჰედერის სტილები */
/* *************** */

header {
  width: 100%;
  top: 0;
  background-color: white;
  position: sticky;
  height: 80px;
  z-index: 100;
  overflow: hidden;
  transition: 0.2s;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1110px;
  margin-inline: auto;
  height: 100%;
}

.container-padding {
  padding-inline: 15px;

  @media only screen and (min-width: 480px) {
    padding-inline: 45px;
  }

  @media only screen and (min-width: 992px) {
    padding-inline: 47px;
  }
}

.tbc-concept-mobile {
  cursor: pointer;
}

.desktop-header-menu {
  display: none;
}

.header-tools-div .language-div {
  display: none;
}

.tbc-concept-large {
  display: none;
}

.search-icon {
  fill: #555f62;
  transition: fill 0.5s ease;
}

.search-icon:hover {
  fill: #007aff;
}

.arrow-icon {
  fill: #182cc0;
  transition: fill 0.5s ease;
}

.header-arrow-group:hover .arrow-icon {
  fill: #007aff;
}

.header-arrow-group:hover {
  color: #007aff;
}

.header-tools-div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-tools-div a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #182cc0;
  text-decoration: none;
  gap: 4px;
  transition: color 0.5s ease;
}

/* ********************** */
/* ბურგერ მენიუს სტილები */
/* ******************** */

.hide-element {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.show-element {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear, opacity 0.5s linear;
}

.burger-menu {
  display: none;
}

.burger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 15px;
  z-index: 20;
}

.burger-icon > div {
  width: 50%;
  height: 2px;
  background-color: #555f62;
  border-radius: 5px;
  transition: 0.3s;
}

.burger-icon > div:nth-child(2) {
  width: 100%;
}

.burger-icon > div:last-child {
  width: 70%;
  height: 2px;
  background-color: #555f62;
  border-radius: 5px;
  transition: 0.3s;
}

.burger-icon.closeIcon > div:nth-child(1) {
  position: relative;
  transform: rotate(45deg);
  left: 2px;
  top: 3px;
}

.burger-icon.closeIcon > div:last-child {
  position: relative;
  transform: translateX(111%) rotate(45deg);
  width: 50%;
  right: 2px;
  bottom: 3px;
}

.burger-icon.closeIcon > div:nth-child(2) {
  width: 100%;
  transform: rotate(-45deg);
}

.close-icon {
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  justify-content: space-between;
  width: 22px;
  height: 32px;
  position: relative;
  left: 100%;
  transform: translateX(-100%);
}

.close-icon > div {
  width: 100%;
  height: 4px;
  background-color: #aaaaaa;
  border-radius: 5px;
}

.close-icon > div:first-child {
  position: relative;
  top: 50%;
  transform: rotate(45deg);
}

.close-icon > div:last-child {
  position: relative;
  bottom: 39%;
  transform: rotate(-45deg);
}

.burger-arrow-div {
  padding: 30px 15px;
  border-bottom: 1px solid #d8d8d8;
}

.burger-arrow-div-content a {
  text-decoration: none;
  color: #555f62;
  font-size: 18px;
}

.rules-burger-div {
  display: flex;
  flex-direction: column;
  padding: 50px 15px 81px 15px;
  background-color: #f9fafa;
}

.rules-burger-text-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  color: #555f62;
  font-size: 14px;
}

.rules-burger-div p {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: #555f62;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
}

.overlay.isOpened {
  display: block;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 15px 0;
  background-color: #f9fafa;
}

/* ************************ */
/* მთავარი ტექსტის სტილები */
/* ********************** */

.left-arrow {
  width: 15px;
}

.navigate-main-div {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  color: #141719;
  margin-bottom: 40px;
  max-width: 1110px;
  margin-inline: auto;
}

/* ******************** */
/* menu trigger styles */
/* ****************** */

.menu-trigger {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: fixed;
  bottom: 20px;
  right: 13px;
  z-index: 100;
}

.open-close-div {
  background-color: #424a4d;
  padding: 12px;
  border-radius: 50%;
}

.menu-trigger-options-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.menu-trigger-options-closed-div {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.menu-trigger-options-inside-div {
  background-color: #fff;
  padding: 10px 13px;
  border-radius: 50%;
}

.menu-icon {
  display: block;
  transition: opacity 0.5s ease;
}

.menu-close {
  display: none;
  transition: opacity 0.5s ease;
}

/* ************************* */
/* მთავარი სურათის სტილები */
/* *********************** */

.hero-block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 60px;
  max-width: 1110px;
  margin-inline: auto;
}

.hero-block a {
  text-decoration: none;
}

.hero-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 360px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.hero-image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 360px;
  object-fit: cover;
  object-position: 50% 50%;
}

.hero-data {
  z-index: 1;
  display: flex;
  flex-direction: column;
  text-align: left;

  gap: 15px;
  padding-block: 172px 20px;
}

.hero-data h2 {
  font-size: 18px;
  font-weight: bold;
}

.hero-data p {
  font-size: 16px;
}

.hero-data button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 15px 20px;
  background-color: #182cc0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.5s ease;
}

.hero-data button:hover {
  background-color: #007aff;
}

/* *************************** */
/* გამოიწერეთ ტექსტის სტილები */
/* ************************* */

.subscribe-tbc-text-div {
  padding: 0 15px;
  color: #141719;
  font-size: 26px;
  margin-bottom: 70px;
}

/* ************************** */
/* შეარჩიეთ ნაკრების სტილები */
/* ************************ */

.choose-set-div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 50px;
}

.choose-set-div h2 {
  font-size: 16px;
  color: #141719;
  padding-left: 15px;
}

.set-image {
  width: 100%;
  height: 230px;
  object-fit: cover;
  object-position: 50% 50%;
  z-index: 0;
  transition: transform 0.5s ease;
}

.choose-set-slide:hover img {
  transform: scale(1.05);
}

.set-image-container {
  position: relative;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
}

.choose-set-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  z-index: 1;
}

.set-image-inside-div {
  position: absolute;
  bottom: 10%;
  left: 10%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 2;
}

.set-image-inside-div h3 {
  font-size: 18px;
  color: white;
  z-index: 2;
}

.set-image-inside-div p {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
  text-decoration: underline;
}

.choose-set-slider {
  display: flex;
  overflow-x: auto;
  gap: 15px;
  padding: 0 15px;
}

.choose-set-slide {
  position: relative;
  min-width: 280px;
}

/* ******************** */
/* სტატისტიკის სტილები */
/* ****************** */

.number-div {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  gap: 15px;
  margin-bottom: 70px;
}

.number-inside-div {
  padding: 24px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.number {
  font-size: 36px;
  font-weight: bold;
  color: #141719;
  margin-bottom: 20px;
}

.number-text {
  font-size: 16px;
  color: #555f62;
}

/* ********************* */
/* შეთავაზებების სტილები */
/* ******************* */

.offers-div {
  margin-bottom: 70px;
}

.offers-div h2 {
  padding: 0 15px;
  font-size: 16px;
  color: #141719;
  margin-bottom: 20px;
}

.offers-inside-div {
  position: relative;
  display: flex;
  flex-direction: column;
}

.offers-image {
  height: 160px;
  object-fit: cover;
  object-position: 50% 50%;
  transition: transform 0.5s ease;
}

.offers-inside-text-div {
  padding: 20px;
}

.offers-inside-text-div div {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
  color: #6f787b;
  font-size: 14px;
  font-weight: 700;
}

.offers-inside-text-div h3 {
  font-size: 16px;
  color: #141719;
  line-height: 30px;
}

.small-image-div {
  position: absolute;
  width: 80px;
  height: 50px;
  background-color: white;
  z-index: 1;
  right: -1%;
  top: 5%;
  border-radius: 5px;
  overflow: hidden;
}

.logo {
  width: 100%;
  height: 100%;
}

.offers-slider {
  display: flex !important;
  overflow: hidden !important;
  padding: 0 15px 20px 15px !important;
  gap: 15px !important;
}

.offers-slide {
  width: 300px !important;
  height: 330px !important;
  border-radius: 10px !important;
  overflow: hidden !important;
  border: 1px solid #d8d8d8 !important;
  transition: box-shadow 0.5s ease !important;
}

.offers-slide:hover .offers-image {
  transform: scale(1.05);
}

.offers-slide:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.offers-swiper-scrollbar {
  height: 2px !important;
  background: #d8d8d8 !important;
  width: 93% !important;
  margin-left: 10px !important;
}

.offers-swiper-scrollbar .swiper-scrollbar-drag {
  background: #182cc0 !important;
}

/* ************************ */
/* ციფრული ბანკის სტილები */
/* ********************** */

.digital-bank-div {
  padding: 20px 15px;
  background-color: white;
  margin-bottom: 100px;
}

.digital-bank-div h2 {
  font-size: 16px;
  color: #141719;
  margin-bottom: 20px;
}

.mobile-image-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  margin-bottom: 20px;
}

.mobile-text-div h2 {
  display: none;
}

.digital-bank-div p {
  font-size: 16px;
  color: #555f62;
  line-height: 25px;
  margin-bottom: 20px;
}

.digital-bank-div a {
  text-decoration: none;
}

.download-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 15px 20px;
  background-color: white;
  color: #182cc0;
  border: 1px solid #182cc0;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

/* ********************* */
/* პროდუქტების სტილები */
/* ******************* */

.products-div {
  margin-bottom: 70px;
}

.products-div h2 {
  padding: 0 15px;
  font-size: 16px;
  color: #141719;
  margin-bottom: 20px;
}

.products-div a {
  text-decoration: none;
}

.products-inside-div {
  position: relative;
  display: flex;
  flex-direction: column;
}

.products-image {
  height: 160px;
  object-fit: cover;
  object-position: 50% 50%;
  transition: transform 0.5s ease;
}

.products-text-div {
  padding: 20px;
}

.products-text-div h3 {
  font-size: 16px;
  color: #141719;
  margin-bottom: 10px;
}

.products-text-div p {
  font-size: 14px;
  color: #555f62;
  line-height: 25px;
}

.products-text-div p > span {
  font-weight: bold;
}

.products-slider {
  display: flex !important;
  overflow: hidden !important;
  padding: 0 15px 20px 15px !important;
  gap: 15px !important;
}

.products-slide {
  width: 300px !important;
  height: 380px !important;
  border-radius: 10px !important;
  overflow: hidden !important;
  border: 1px solid #d8d8d8 !important;
  transition: box-shadow 0.5s ease !important;
}

.products-slide:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.products-slide:hover .products-image {
  transform: scale(1.05);
}

.products-swiper-scrollbar {
  height: 2px !important;
  background: #d8d8d8 !important;
  width: 93% !important;
  margin-left: 10px !important;
}

.products-swiper-scrollbar .swiper-scrollbar-drag {
  background: #182cc0 !important;
}

/* ******************* */
/* ჯილდოების სტილები */
/* ***************** */

.reward-div {
  margin-bottom: 70px;
}

.reward-div h2 {
  padding: 0 15px;
  font-size: 16px;
  color: #141719;
  margin-bottom: 20px;
}

.reward-slide:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.reward-slide img {
  height: 55px;
  margin-bottom: 20px;
}

.reward-slide h3 {
  font-size: 16px;
  color: #141719;
  margin-bottom: 20px;
  line-height: 20px;
}

.reward-slide p {
  font-size: 16px;
  color: #555f62;
}

.reward-swiper-container {
  height: 280px;
  overflow-x: hidden;
  padding: 0 15px 20px 15px;
}

.reward-slide {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow 0.5s ease;
}

.reward-swiper-scrollbar {
  height: 2px !important;
  background: #d8d8d8 !important;
  width: 93% !important;
  margin-left: 10px !important;
  margin-bottom: 80px !important;
}

.reward-swiper-scrollbar .swiper-scrollbar-drag {
  background: #182cc0 !important;
}

/* ***************** */
/* ფუტერის სტილები */
/* *************** */

footer {
  background-color: white;
}

.logo-language-div {
  padding: 32px 15px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 1px solid #d8d8d8;
}

.footer-large-tbc-logo {
  display: none;
}

.language-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.language-div > div:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.language-div > div:nth-child(1):hover {
  background-color: #f9fafa;
}

.language-div > div:last-child {
  display: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 15px 20px;
  font-weight: bold;
}

.footer-arrow-div {
  padding: 24px 15px;
  border-bottom: 1px solid #d8d8d8;
}

.footer-arrow-div h3 {
  font-size: 18px;
  color: #141719;
}

.footer-arrow-div-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.footer-arrow-div-content {
  display: grid;
  grid-template-rows: auto;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: max-height 1s, opacity 1s ease-in-out, visibility 0s linear 1s;
}

.footer-arrow-div-content a {
  text-decoration: none;
  color: #555f62;
  font-size: 16px;
  margin-top: 20px;
  transition: color 0.5s ease;
}

.footer-arrow-div-content a:hover {
  color: #182cc0;
}

.arrow {
  transition: transform 1s ease;
}

.arrow.isExpanded {
  transform: rotate(180deg);
}

.footer-arrow-div-content.isExpanded {
  max-height: 500px;
  opacity: 1;
  visibility: visible;
  transition: max-height 1s, opacity 1s ease-in-out, visibility 0s;
}

.contact-div {
  padding: 32px 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-div h3 {
  font-size: 18px;
  color: #141719;
}

.contact-div a {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 10px;
  font-size: 16px;
  color: #555f62;
  font-weight: bold;
}

.contact-div a:hover {
  text-decoration: underline;
}

.social-networks-div {
  padding: 20px 15px;
  margin-bottom: 20px;
}

.social-networks-div h3 {
  font-size: 18px;
  color: #141719;
  margin-bottom: 20px;
}

.social-networks-div div {
  display: flex;
  gap: 15px;
}

.social-svg {
  fill: #555f62;
  transition: fill 0.5s ease;
}

.social-btn {
  border: none;
  padding: 15px;
  border-radius: 5px;
  transition: background-color 0.5s ease;
}

.social-btn:hover {
  background-color: #d8d8d8;
}

.social-btn:hover .social-svg {
  fill: #182cc0;
}

.rules-div {
  padding: 24px 15px;
  background-color: #f9fafa;
}

.rules-text-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.rules-text-div p {
  font-size: 16px;
  color: #555f62;
  cursor: pointer;
  transition: color 0.5s ease;
}

.rules-text-div p:hover {
  color: #182cc0;
}

.rules-div p {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: #6f787b;
}

/* ***************************** */
/* კონფიდენციალურობის სტილები */
/* *************************** */

.privacy-menu {
  position: fixed;
  transform: translateY(100%);
  height: 100%;
  width: 100%;
  bottom: 0;
  z-index: 10;
  overflow: hidden;
  background-color: white;
  transition: 1s;
}

.privacy-menu.isOpened {
  transform: translateY(0);
  transition: 1s;
}

.privacy-menu-header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 15px;
  border-bottom: 1px solid #d8d8d8;
}

.privacy-menu-header-div h2 {
  font-size: 16px;
  color: #141719;
}

.privacy-menu-close-div {
  background-color: #f0f0f0;
  border-radius: 50%;
  padding: 3px;
  display: flex;
  align-items: center;
}

.privacy-text-div {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  overflow: auto;
  max-height: calc(100% - 79px);
}

.privacy-text-div .first-text {
  margin-top: 24px;
}

.privacy-text-div::-webkit-scrollbar-track {
  background: #d8d8d8;
}

.privacy-text-div::-webkit-scrollbar-thumb {
  background: #091468be;
}

.privacy-text-div::-webkit-scrollbar {
  height: 20px;
}

.scrollable-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 650px;
  overflow-x: auto;
  overflow-y: auto;
}

.scrollable-content h4 {
  font-weight: bold;
  color: #555f62;
  font-size: 20px;
}

.scrollable-content p {
  font-size: 16px;
  color: #555f62;
  line-height: 25px;
}

.scrollable-content p > a {
  color: #555f62;
}

.scrollable-content ul {
  display: flex;
  flex-direction: column;
  list-style-position: inside;
  color: #555f62;
  gap: 5px;
  line-height: 25px;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #555f62;
}
th,
td {
  border: 1px solid #555f62;
  text-align: left;
  font-size: 16px;
  color: #555f62;
}
th {
  font-weight: bold;
}

.last-privacy-text {
  margin-bottom: 50px;
}

/* ********************* */
/* წესების მენიუს დიზაინი */
/* ******************* */

.rules-menu {
  position: fixed;
  transform: translateY(100%);
  height: 100%;
  width: 100%;
  bottom: 0;
  z-index: 10;
  overflow: hidden;
  background-color: white;
  transition: 1s;
}

.rules-menu.isOpened {
  transform: translateY(0);
  transition: 1s;
}

.rules-menu-header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 15px;
  border-bottom: 1px solid #d8d8d8;
}

.rules-menu-header-div h2 {
  font-size: 16px;
  color: #141719;
}

.rules-menu-text-div {
  max-height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  padding: 24px 15px;
  overflow-y: scroll;
}

.rules-menu-text-div h3 {
  font-size: 18px;
  color: #141719;
  margin-bottom: 20px;
}
.rules-menu-text-div p {
  font-size: 16px;
  color: #555f62;
  line-height: 25px;
  margin-bottom: 20px;
}

.rules-menu-text-div p a {
  color: #555f62;
}

.rules-menu-close-div {
  background-color: #f0f0f0;
  border-radius: 50%;
  padding: 3px;
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 480px) {
  .header-tools-div a {
    font-size: 16px;
  }

  .burger-arrow-div {
    padding: 30px 45px;
  }

  .rules-burger-div {
    padding: 50px 45px 81px 45px;
  }

  .left-arrow {
    display: none;
  }

  .navigate-main-div {
    margin-bottom: 60px;
  }

  .hero-data {
    padding-block: 240px 36px;
  }

  .hero-data h2 {
    font-size: 26px;
    font-weight: bold;
  }

  .hero-image {
    height: 450px;
  }

  .hero-block::before {
    width: 100%;
    height: 450px;
  }

  .subscribe-tbc-text-div {
    padding: 0 45px;
    font-size: 30px;
  }

  .choose-set-div h2 {
    font-size: 26px;
    padding-left: 45px;
  }

  .choose-set-slider {
    padding: 0 45px;
  }

  .number-div {
    padding: 0 45px;
    gap: 25px;
  }

  .number-inside-div {
    padding: 40px 48px;
  }

  .number {
    font-size: 46px;
    margin-bottom: 20px;
  }

  .number-text {
    font-size: 18px;
  }

  .mobile-image-div img {
    width: 370px;
  }

  .offers-text-div {
    padding: 0 45px;
  }

  .offers-image {
    height: 181px;
  }

  .offers-div h2 {
    font-size: 26px;
  }

  .offers-div a {
    font-weight: bold;
  }

  .offers-slider {
    padding: 15px 45px;
  }

  .digital-bank-div {
    padding: 45px 45px;
  }

  .digital-bank-div h2 {
    font-size: 26px;
  }

  .products-div h2 {
    padding: 0 45px;
    font-size: 26px;
  }

  .products-slider {
    padding: 0px 45px 20px 45px;
  }

  .reward-div h2 {
    padding: 0 45px;
    font-size: 26px;
  }

  .rewards-slider {
    padding: 0 45px 20px 45px;
  }

  .rewards-slide {
    min-width: 320px;
  }

  .logo-language-div {
    padding: 36px 45px;
  }

  .footer-arrow-div {
    padding: 36px 45px;
  }

  .footer-arrow-div h3 {
    font-size: 26px;
  }

  .contact-div {
    padding: 32px 45px;
  }

  .contact-div h3 {
    font-size: 26px;
  }

  .social-networks-div {
    padding: 20px 45px;
  }

  .social-networks-div h3 {
    font-size: 26px;
  }
  .rules-div {
    padding: 32px 45px;
    background-color: #f9fafa;
  }

  .privacy-menu {
    height: 90%;
  }

  .privacy-menu-header-div {
    padding: 32px 45px;
  }

  .privacy-menu-header-div h2 {
    font-size: 26px;
  }

  .privacy-menu-close-div {
    padding: 8px;
  }

  .privacy-text-div {
    padding: 0 45px;
    max-height: calc(100% - 105px);
  }

  .privacy-text-div .first-text {
    margin-top: 40px;
  }

  .rules-menu {
    height: 90%;
  }

  .rules-menu-header-div {
    padding: 32px 45px;
  }

  .rules-menu-header-div h2 {
    font-size: 26px;
  }

  .rules-menu-text-div {
    padding: 40px 45px;
  }

  .rules-menu-close-div {
    padding: 8px;
  }

  .open-close-div {
    padding: 16px;
  }
}

@media only screen and (max-width: 767px) {
  .hero-block-wrapper {
    padding-inline: 0;
  }
}

@media only screen and (min-width: 768px) {
  .tbc-concept-mobile {
    display: none;
  }

  .tbc-concept-large {
    display: block;
  }

  .header-tools-div {
    gap: 25px;
  }

  .rules-burger-div {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #f9fafa;
    justify-content: space-between;
  }

  .rules-burger-text-div {
    display: flex;
    justify-content: end;
    margin-bottom: 0;
    gap: 25px;
  }

  .rules-burger-div p {
    display: flex;
    align-items: center;
    left: 0;
    gap: 10px;
  }

  .hero-block {
    padding-inline: unset;
  }

  .hero-block::before {
    left: auto;
    width: 100%;
    height: 450px;
    border-radius: 5px;
  }

  .hero-image {
    height: 450px;
    border-radius: 5px;
  }

  .hero-data {
    padding: 262px 110px 50px 50px;
  }

  .hero-data h2 {
    font-size: 26px;
    font-weight: bold;
  }

  .hero-data p {
    font-size: 16px;
  }

  .hero-data button {
    width: 26%;
  }

  .choose-set-slider {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 35px;
  }

  .choose-set-slider a:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }

  .choose-set-slider a:nth-child(2) {
    grid-column: 2;
    grid-row: 1 / span 2;
  }

  .choose-set-slider a:nth-child(3) {
    grid-column: 1;
    grid-row: 2;
  }

  .grid-image {
    height: 495px;
  }

  .grid-text {
    bottom: 5%;
  }

  .set-image-inside-div h3 {
    font-size: 26px;
  }

  .offers-slide {
    min-width: 330px;
    height: 375px;
  }

  .offers-image {
    height: 201px;
    margin-bottom: 0;
  }

  .offers-inside-text-div {
    padding: 28px;
  }

  .offers-inside-text-div div {
    font-size: 16px;
  }

  .offers-inside-text-div h3 {
    font-size: 18px;
  }

  .digital-bank-div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 45px 45px 0 45px;
    gap: 50px;
  }

  .mobile-image-div img {
    width: 230px;
    margin-bottom: 0;
  }

  .digital-bank-div h2 {
    display: none;
  }

  .mobile-text-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .mobile-text-div h2 {
    display: block;
    font-size: 26px;
  }

  .download-button {
    width: 35%;
  }

  .products-text-div {
    padding: 28px;
  }

  .products-text-div h3 {
    font-size: 18px;
  }

  .products-text-div p {
    font-size: 16px;
  }

  .products-slide {
    min-width: 330px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #d8d8d8;
    transition: box-shadow 0.5s ease;
  }

  .rewards-slide h3 {
    font-size: 18px;
  }

  .footer-links-div {
    display: flex;
  }

  .contact-and-social-div {
    display: flex;
    flex-direction: column;
  }

  .logo-language-div {
    border-bottom: none;
  }

  .footer-arrow {
    display: none;
  }

  .only {
    max-height: none;
    opacity: 1;
    visibility: visible;
    transition: none;
  }

  .footer-arrow-div h3 {
    font-size: 16px;
  }

  .contact-div h3 {
    font-size: 16px;
  }

  .social-networks-div h3 {
    font-size: 16px;
  }

  .footer-arrow-div {
    padding: 32px 0 32px 45px;
  }

  .contact-div {
    padding: 32px 45px;
  }

  .social-networks-div {
    padding: 20px 45px;
  }

  .social-btn {
    padding: 10px;
  }

  .rules-div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .rules-div p {
    font-size: 14px;
  }

  .rules-text-div {
    display: flex;
    gap: 25px;
    margin-bottom: 0;
  }

  .rules-text-div p {
    font-size: 14px;
  }

  .footer-mobile-tbc-logo {
    display: none;
  }

  .footer-large-tbc-logo {
    display: block;
  }
}

.header-left {
  display: flex;
  align-items: center;
  gap: 60px;
  height: 100%;
}

@media only screen and (min-width: 1080px) {
  .burger-icon {
    display: none;
  }

  header {
    border-bottom: 1px solid #d8d8d8;
  }

  .header-tools-div {
    gap: 10px;
  }

  .header-tools-div .language-div {
    display: flex;
    gap: 10px;
  }

  .header-tools-div .language-div > div:nth-child(1) {
    margin-bottom: 0;
  }

  .desktop-header-menu {
    display: flex;
    gap: 40px;
    height: 100%;
  }

  .desktop-header-menu div {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    color: #222222;
  }

  .desktop-header-menu-nav {
    display: flex;
    gap: 12px;
  }

  .desktop-header-menu-nav div {
    opacity: 0;
    transition: 300ms;
  }

  .desktop-header-menu-nav div > a {
    font-size: 16px;
    color: #141719;
  }

  .desktop-header-menu-nav div > a:hover {
    color: #182cc0;
    transition: color 0.5s ease;
  }

  .desktop-menu {
    display: none;
    position: fixed;
    top: 80px;
    z-index: 10;
    background-color: white;
    width: 100%;
  }

  .desktop-menu nav {
    width: 100%;
    max-width: 1110px;
    margin-inline: auto;
    background-color: white;
    display: flex;
    padding-block: 30px;
    gap: 34px;
  }

  .desktop-menu nav a {
    text-decoration: none;
  }

  .desktop-menu-digital-bank-text {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }

  .desktop-menu-digital-bank-text p {
    font-size: 16px;
    color: #182cc0;
    font-weight: bold;
  }

  .desktop-menu-digital-bank-text:hover svg {
    fill: #007aff;
    transition: fill 0.5s ease;
  }

  .desktop-menu-digital-bank-text:hover p {
    color: #007aff;
    transition: color 0.5s ease;
  }

  .products-desktop-menu-div,
  .offers-desktop-menu-div,
  .concept-space-desktop-menu-div {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 135px;
    gap: 20px;
  }

  .menu-line {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #182cc0;
    transition: 300ms;
  }

  .menu-line_opened {
    left: 0;
    width: 100%;
  }

  .hero-block {
    justify-content: flex-start;
  }

  .hero-data {
    padding-inline: 80px;
  }
}
